/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99; 
    backdrop-filter: blur(20px);
}

.logo{
    font-size:30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto; 
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px; 
}
.user-auth {
    margin-right: 40px; 
}

.user-auth .login-btn-modal {
    height: 40px;
    padding: 0 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}
section {
    min-height: 100vh;
    background: url('Images/hero-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}
section h1 {
    position: absolute;
    botton: 40px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}


